* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    padding: 2% 0;
    font-family: Helvetica Neue, Helvetica, Nimbus Sans L, Arial, Liberation Sans, PingFang SC, Hiragino Sans GB, Source Han Sans CN, Source Han Sans SC, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif;
}

.wrap {
    width: 80%;
    margin: auto;
}

[class^=col] {
    position: relative;
    display: inline-block;
    float: left;
    padding: 0px 10px;
}
[class^=col]:after {
    position: absolute;
    z-index: 9;
    content: attr(class);
    font-size: 12px;
    color: #999;
    top: 5px;
    left: 15px;
}

.content {
    height: 50px;
    width: 100%;
    border: 1px solid #999;
    background: #eee;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .wrap {
        min-width: 768px;
    }
    .col-md-1 {
        width: 8.333333333%;
    }
    .col-md-2 {
        width: 16.666666666%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.333333333%;
    }
    .col-md-5 {
        width: 41.666666666%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.333333333%;
    }
    .col-md-8 {
        width: 66.666666666%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.333333333%;
    }
    .col-md-11 {
        width: 91.666666666%;
    }
    .col-md-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .col-sm-1 {
        width: 8.333333333%;
    }
    .col-sm-2 {
        width: 16.666666666%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.333333333%;
    }
    .col-sm-5 {
        width: 41.666666666%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.333333333%;
    }
    .col-sm-8 {
        width: 66.666666666%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.333333333%;
    }
    .col-sm-11 {
        width: 91.666666666%;
    }
    .col-sm-12 {
        width: 100%;
    }
}
