* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    display: table;
}
.wrap {
    padding: 20px;
    border: 1px solid #eee;
    overflow: hidden;
}

.wrap:first-child {
    border: 1px solid #999;
    background-color: #eee;
    padding: 20px;
}

.title_panel {
    float: left;
    border: 1px solid #999;
    width: 158px;
    padding: 20px;
    overflow: hidden;
    background-color: #fff;

}

.title_panel div {
    float:left;
    margin-right: 20px;
    border: 1px solid #999;
}
.title_panel h4 {
    float:left;
}

.logo {
    display: block;
    height: 80px;
    width: 80px;
    background-color: #eee;
}

.desc_panel {
    background-color: #fff;
    border: 1px solid #999;
    margin-left: 220px;
    margin-right: 140px;
    padding: 20px;
    
}

.member_panel {
    float: right;
    background-color: #fff;
    border: 1px solid #999;
    width: 82x;
    padding: 20px 18px;
}

.member_panel div {
    border: 1px solid #999;
    margin-top: 20px;
}

.member_panel div:first-child {
    margin-top: 0px;
}


