* {
    box-sizing: border-box;
}

.yoPhoto {

    position: relative;
    overflow: hidden;

    img {
        display: none;
    }

    .imgCover {
        background-repeat: no-repeat;
        height: 100%;
        background-size: cover;
        background-position: center center;
        transition: all .2s ease-in-out;
        transform: translate3d(0,0,0);
        border: 0px solid #fff;

        &:hover {
            //transform: scale(1.05);
            z-index: 2;
            /*box-shadow: 0 0 10px 2px rgba(0,0,0,.4);*/
            border-width: 1rem;
            border-bottom-width: 3rem;
        }

        &:hover:after {
            content: attr(data-alt);
            color: #CFCECC;
            font-weight: 300;
            font-family: 'Microsoft Yahei';
            font-size: 1.2rem;
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 1rem 1rem;
            width: 100%;
            text-align: right;
            box-sizing: border-box;
            margin-bottom: -3.3rem;
        }

    }
    
    &.layout-1 {
        
        .imgCover {
            width: 100%;
        }
    }

    &.layout-2 {

        .imgCover:nth-child(3) {

            &:hover:after {
                content: attr(data-alt);
                color: #CFCECC;
                font-weight: 300;
                font-family: 'Microsoft Yahei';
                font-size: 1.2rem;
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 1rem 1rem;
                width: 100%;
                text-align: left;
                box-sizing: border-box;
                margin-bottom: -3.3rem;
            }
        }
        .imgCover:last-child {
            transform: translateY(-100%);
            -webkit-clip-path: polygon(66.66666% 0, 100% 0, 100% 100%, 33.33333% 100%);
            clip-path: polygon(66.66666% 0, 100% 0, 100% 100%, 33.33333% 100%);
        }
    }

    &.layout-3 {

        .imgCover {
            position: absolute;
        }
        .imgCover:last-child {
            position: absolute;
            right: 0;
            bottom: 0;
        }
        .imgCover:nth-child(5) {
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    &.layout-4 {

        .imgCover {
            width: 50%;
            height: 50%;
            float: left;
        }
    }

    &.layout-5 {

        .imgCover {
            width: 50%;
            height: 50%;
            float: left;

            &:nth-child(9),
            &:nth-child(10) {
                transform: translateY(-100%);
            }
        }
    }

    &.layout-6 {

        .imgCover {
            float: left;
        }
    }
}