* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    display: table;
}
.wrap {
    position: relative;
    min-height: 300px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
.block {
    position: relative;
    width: 400px;
    height: 200px;
    background-color: #ccc;
    text-align: center;
    overflow: hidden;
}
.wrap:first-child {
    display: table;
}
.wrap:first-child .cover {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.wrap:first-child .block {
    margin: 0 auto;
}
.wrap:nth-child(2) .block {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -100px;
}
.wrap:nth-child(3) .block {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.wrap:nth-child(4) .block {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
div[class^=circle] {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #fc0;
    border-radius: 50%;
}
.circle-top {
    top: -50px;
    left: -50px;
}
.circle-bottom {
    bottom: -50px;
    right: -50px;
}